<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" id="title-line">Dictionary + Logs</span>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end" role="group">
                    <a href="/words"><button type="button" class="btn btn-primary me-md-2">Search Word</button></a>
                    <a href="/user/logout"><button type="button" class="btn btn-primary">Logout</button></a>
                </div>
        </nav>
    </header>
    <div class="container">
        <table>
            <tr>
                <th>Subject</th>
                <th>Logs</th>
                <th>Time Saved</th>
                <th>Actions</th>
            </tr>
            <% for (word of words) { %>
            <tr>
                <td><%= word.word %></td>
                <td><%= word.log %></td>
                <td style="width: 330px"><%= word.time %></td>
                <td>
                    <form action="/words/<%= word._id %>?_method=DELETE " method="post">
                        <input type="submit" value="Delete" />
                    </form>
                    <a href="/words/<%= word._id %>/edit"><button type="button">EDIT LOG</button></a></td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>